<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>5rampage blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta id="viewport" name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="./assets/index.css" type="text/css" />
</head>

<body>
    <header>
        <div class="header">
            <h1 class="logo"><img src="./assets/logo.png" width="100"></h1>
            <nav>
                <ul class="navList">
                    <li><a href="/">首页</a></li>
                    <li><a href="/about/index.html">关于我们</a></li>
                </ul>
            </nav>
        </div>
        <div class="welcome">欢迎来到5rampage</div>
    </header>
    <main>
        <div class="listBox">
            <h2 class="listBoxTitle">开源与产品</h2>
            <ul class="listBoxList">
                <li>
                    <h3 class="productTitle">
                        <a>
                            <img src="./assets/shark.png" style="width: 100px;height:100px;">
                        </a>
                    </h3>
                    <p>基础库建设</p>
                </li>
                <li>
                    <h3 class="productTitle">
                        <a>
                            <img src="./assets/fed.png" style="width: 100px;height:100px;">
                        </a>
                    </h3>
                    <p>开箱即用的一体化方案</p>
                </li>
                <li>
                    <h3 class="productTitle">
                        <a>
                            <img src="./assets/cli.png" style="width: 100px;height:100px;">
                        </a>
                    </h3>
                    <p>工程化与效率开发</p>
                </li>
            </ul>
        </div>
        <div class="slogan">
            <h2 class="sloganTitle">专业、开放、共享</h2>
            <p><a class="joinUsBtn">加入我们</a></p>
        </div>
        <div class="listBox">
            <h2 class="listBoxTitle">理念与追求</h2>
            <ul class="listBoxList">
                <li>
                    <h3 class="productTitle">
                        <a>
                            <img src="./assets/whatwedo1.png" style="width: 80px;height:80px;">
                        </a>
                    </h3>
                    <p>优秀</p>
                </li>
                <li>
                    <h3 class="productTitle">
                        <a>
                            <img src="./assets/whatwedo2.png" style="width: 80px;height:80px;">
                        </a>
                    </h3>
                    <p>责任</p>
                </li>
                <li>
                    <h3 class="productTitle">
                        <a>
                            <img src="./assets/whatwedo3.png" style="width: 80px;height:80px;">
                        </a>
                    </h3>
                    <p>合作</p>
                </li>
            </ul>
        </div>
        <div class="listBox techList">
            <h2 class="listBoxTitle">好文分享</h2>
            <ul class="techListContent">
                <li>
                    <h3>
                        <a target="_blank"
                            href="https://angular.cn/guide/setup-local#step-1-install-the-angular-cli">Angular：从零开始，快速搭建一个Angular应用。
                        </a>
                    </h3>
                </li>
                <li>
                    <h3>
                        <a target="_blank" href="https://juejin.im/post/5d3857eaf265da1bd04f2437">掘金：在工作中常用的Linux命令
                        </a>
                    </h3>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <div class="footerCopyright">
            <p>5rampage版权所有 ©2019 浙ICP备19004636号-1</p>
        </div>
    </footer>
</body>

</html>